<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <script type="text/javascript" src="./index.js" defer></script>
    <script type="text/javascript" src="../../JS/product.js" defer></script>
    <script src="https://kit.fontawesome.com/a7f7be9ef6.js" crossorigin="anonymous"></script>
    <title>Orinoco</title>
</head>
<body>
    <header class="siteHeader">
        <img class="siteHeader__orinocoLogo" src="../../images/Orinoco-logo.jpg" />
        <i class="siteHeader__shoppingCartIcon fas fa-shopping-cart"></i>
    </header>

    <main>
        <h1>Tout nos appareils photos vintage</h1>
        <div class="productsList">
        </div>

    </main>
</body>
</html>