<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../style.css">
    
    <script type="text/javascript" src="./orderConfirmation.js" defer></script>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="http://fonts.cdnfonts.com/css/belligerent-madness" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/a7f7be9ef6.js" crossorigin="anonymous"></script>
    <title>Confirmation de commande - Orinoco Vintage Cameras</title>
</head>
<body>
    <div class="blocPage"></div>
        <header class="orderConfirmationHeader">
            <div class="orderConfirmationHeader__logo">Orinoco</div>
            <h1 class="orderConfirmationHeader__headline">CONFIRMATION DE COMMANDE</h1>
        </header>

        <main>
            <section class="orderConfirmationContainer">
            </section>
            <a class ="backToHomepageLink"href="../homepage/index.html">Retour à l'accueil</a>
        </main>
    </div>

    <footer>
        <p><i class="far fa-copyright"></i> 2021 Orinoco - Tous droits réservés.</p>
    </footer>
</body>
</html>